<div class='pull-left' style="padding: 20px;">
    <figure>
      <img src="/img/me.jpg" />
   </figure>
</div>
<div class='pull-right'>
<ul>
   <li><a href="https://github.com/{{ site.github_username }}/"><i class="fab fa-github fa-2x"></i><p>GitHub</p></a></li>
   <li><a href="https://www.linkedin.com/in/{{ site.linkedin_username }}"><i class="fab fa-linkedin fa-2x"></i><p>LinkedIn</p></a></li>
   <li><a href="http://dblp.uni-trier.de/pers/hd/t/Toffola:Luca_Della"><i class="fab fa-leanpub fa-2x"></i><p>DBLP</p></a></li>
</ul>
</div>
<div class="contact">
      <p>ETH Zurich - CS Department<br>
      Laboratory for Software Technology<br>
      CAB H65<br>
      Universitätstrasse 6<br>
      8092 Zürich<br>
      Switzerland<br>
   </p>
   <i><strong>E-mail:</strong> luca.dellatoffola at inf.ethz.ch<br></i>
</div>
